<button type="button" class="btn btn-primary" (click)="open(content)">
  Add New Product
</button>

<table class="table" style="max-width: 900px">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price ($)</th>
      <th scope="col">Created Date</th>
      <th scope="col">Modified Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Book</td>
      <td>1000</td>
      <td>20-05-21</td>
      <td>25-05-21</td>
      <td>
        <button type="button" class="btn btn-primary mr-2">Update</button
        ><button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product Form</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Product Name:</label>
        <input type="text" class="form-control" id="name" />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="number" class="form-control" id="price" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isInStock" />
        <label class="form-check-label" for="isInStock"
          >Available in stock</label
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
